/*IMPORTAÇÕES*/

@font-face {
  font-family: Kross-book;
  src: url(C:\Users\Avanso Solucoes\Documents\GitHub\PORTIFOLIO\fonts\font\KrossNeueGrotesk-Book.ttf);
}
@font-face {
  font-family: Kross-bold;
  src: url(C:\Users\Avanso Solucoes\Documents\GitHub\PORTIFOLIO\fonts\font\KrossNeueGrotesk-Bold.ttf);
}

/*P1 - CONFIGURAÇÕES GERAIS DA PÁGINA*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  list-style-type: none;
}

/*FIM P1*/

/* P2 - WEBKIT PARA DEIXAR O SCROLL LATERAL TRANSPARENTE*/

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.11);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/*FIM P2*/

/*P3 - DESIGN COMPONENTE DE NAVEGAÇÃO*/

.nav-bar {
  position: fixed;
  height: 100vh;
  width: 3%;
  z-index: 1;
  background-color: #ffcc29;
  transition: 0.7ms ease-in;
}
.rotulos li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.79em;
  margin-top: 5vh;
  text-indent: -2vh;
}

.rotulos a {
  font-family: Kross-book;
  font-weight: 600;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #112e59;
}

.rotulos :hover {
  color: #b98f03;
}

.linguas {
  display: grid;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  margin-top: 15vh;
  line-height: 3vh;
}

.linguas li .eng {
  font-family: Kross-book;
  color: #112e59;
  border-top: 0.2vh solid#112E59;
  padding-top: 1vh;
}

.linguas li .fra {
  font-family: Kross-book;
  color: #112e59;
  border-bottom: 0.2vh solid#112E59;
  padding-bottom: 1vh;
}

.nav-bar .socials {
  display: grid;
  justify-content: center;
  position: absolute;
  font-size: 1.7em;
  bottom: 1vh;
  width: 100%;
}

.nav-bar .socials .github {
  display: grid;
  margin-top: 11vh;
  margin-bottom: 1vh;
}

.nav-bar .socials .linkedin {
  display: grid;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.hamburger {
  display: none;
  cursor: pointer;
}

/*P4 - DESIGN ÁREA PRINCIPAL DA PÁGINA*/

.container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}

.container section {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #15652b;
  padding: 5%;
}

.container .inicio {
  text-align: center;
  justify-content: center;
}
/*FIM P4*/

/********************************* MEDIA QUERY  *********************************************/

/*SMARTPHONES*/

@media (max-width: 450px) {
  .nav-bar {
    position: fixed;
    height: 7%;
    width: 100%;
    transition: 0.7ms ease-in;
    padding: 0;
    margin: 0;
  }

  .rotulos {
    font-family: Kross-bold;
    position: fixed;
    top: 7%;
    background-color: #ffcc29;
    width: 100%;
    height: 100%;
    right: 200%;
  }

  .rotulos a {
    font-size: 5vh;
    font-weight: 700;
    writing-mode: horizontal-tb;
    transform: rotate(360deg);
    line-height: 3vh;
    margin: 0;
    margin-right: 3vh;
    border-color: #ffcc29;
    transition: all ease-in;
  }

  .rotulos li:nth-child(1) {
    margin-top: 50%;
  }
  .rotulos ul li {
    justify-content: right;
    align-items: center;
  }
  .rotulos li {
    justify-content: right;
    text-indent: 0%;
  }

  .rotulos.active {
    right: 0;
  }
  .linguas {
    display: flex;
    gap: 2vh;
    align-items: center;
    margin: 0;
    padding-top: 3%;
    padding-left: 3%;
    justify-content: left;
  }
  .linguas ul {
    z-index: 1;
    font-weight: 600;
    font-size: 0.7em;
    line-height: 4vh;
  }

  .linguas li .eng {
    font-size: larger;
    border-top: none;
    border-right: 0.3vh solid #112e59;
    padding: 0;
    padding-right: 20%;
  }
  .linguas li .fra {
    font-size: larger;
    border-bottom: none;
  }

  .nav-bar .socials {
    display: none;
  }
  .hamburger {
    display: block;
    float: right;
    clear: right;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-right: 4%;
    padding-top: 1vh;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1.5vh) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-1.2vh) rotate(-45deg);
  }

  .bar {
    display: block;
    width: 4vh;
    height: 0.7vh;
    margin: 0.7vh auto;
    border-radius: 2vh;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #112e59;
    border-color: none;
  }
}
/*TABLETS*/
