/*IMPORTAÇÕES*/

@font-face {
  font-family: Kross-book;
  src: url(/public/font/KrossNeueGrotesk-Book.ttf);
}
@font-face {
  font-family: Kross-bold;
  src: url(/public/font/KrossNeueGrotesk-Bold.ttf);
}

@font-face {
  font-family: Brown-sugar;
  src: url(/public/font/Brown-Sugar.ttf);
}

/*P1 - CONFIGURAÇÕES GERAIS DA PÁGINA*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  list-style: none;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

::-webkit-scrollbar {
  display: none;
}

/*P3 - DESIGN COMPONENTE DE NAVEGAÇÃO*/

.nav-bar {
  position: fixed;
  height: 100vh;
  width: 3%;
  z-index: 1;
  background-color: #ffcc29;
  transition: 0.7ms ease-in;
}
.rotulos li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.79em;
  margin-top: 5vh;
  text-indent: -2vh;
}

.rotulos a {
  font-family: Kross-book;
  font-weight: 600;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #112e59;
}

.rotulos :hover {
  color: #b98f03;
}

.linguas {
  display: grid;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  margin-top: 15vh;
  line-height: 3vh;
}

.linguas li .eng {
  font-family: Kross-book;
  color: #112e59;
  border-top: 0.2vh solid#112E59;
  padding-top: 1vh;
}

.linguas li .fra {
  font-family: Kross-book;
  color: #112e59;
  border-bottom: 0.2vh solid#112E59;
  padding-bottom: 1vh;
}

.nav-bar .socials {
  display: grid;
  justify-content: center;
  position: absolute;
  font-size: 1.7em;
  bottom: 1vh;
  width: 100%;
}

.nav-bar .socials .github {
  display: grid;
  margin-top: 11vh;
  margin-bottom: 1vh;
}

.nav-bar .socials .linkedin {
  display: grid;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.hamburger {
  display: none;
  cursor: pointer;
}

/*P4 - DESIGN ÁREA PRINCIPAL DA PÁGINA*/

.container {
  scroll-behavior: smooth;
  position: fixed;
  width: 100%;
  display: flex;
}

.container section {
  min-width: 100vw;
  display: grid;
  position: relative;
  align-items: center;
  height: 100vh;
  background-color: #15652b;
  z-index: 56;
  border: 1px solid #15652b;
}

/*FIM P4*/

/**************************************** SECTION 1 - SOBRE MIM ****************************************************/
.inicio {
  margin-bottom: 10%;
}

.nome {
  z-index: 100;
  font-family: Brown-sugar;
  font-weight: 100;
  font-size: 8vh;
  text-align: left;
  margin-left: 12%;
  margin-bottom: 0.5%;
  color: #ffcc29;
}

.nome:nth-child(3) {
  font-size: 7vh;
  position: absolute;
  padding-top: -1;
  padding-left: 1vh;
  padding-right: 1vh;
  display: table;
  color: #112e59;
  background-color: #ffcc29;
}

img.arara {
  left: 45%;
  position: absolute;
  display: flex;
  width: 40%;
}

.deslise {
  display: flex;
  position: absolute;
  bottom: 3%;
  right: 0;
  align-items: center;
  text-align: left;
  width: 21em;
}
.des {
  font-family: Brown-sugar;
  font-size: 1.4em;
  font-weight: 100;
  color: white;
  text-align: right;
  z-index: 999;
}

.circulo {
  width: 2.5em;
  margin-right: -3%;
}

.divisor {
  overflow: visible;
  z-index: 100;
  height: 100%;
  width: 1%;
  display: inline-block;
  position: relative;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1vh;
  background-color: #15652b;
  place-self: start end;
  border: 1px solid #15652b;
}

.b-bg {
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}
.dsobre {
  color: white;
  font-family: Brown-Sugar;
  font-weight: 100;
  transform: rotate(-90deg);
  font-size: 9vh;
  margin-top: 100vh;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(500%);
  }
  100% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-500%);
  }
}

/********************************* MEDIA QUERY  *********************************************/

/*SMARTPHONES*/

@media (max-width: 450px) {
  .outer-wrapper {
    width: 100vw;
    height: 100vh;
    transform: rotate(0deg) translateX(0vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .nav-bar {
    position: absolute;
    height: 7%;
    width: 100%;
    transition: 0.7s ease-in;
    padding: 0;
    margin: 0;
    z-index: 999;
  }

  .rotulos {
    font-family: Kross-bold;
    position: fixed;
    top: 7%;
    background-color: #ffcc29;
    width: 100%;
    height: 100%;
    right: -200%;
    transition: 0.5s ease-out;
  }

  .rotulos a {
    font-size: 5vh;
    font-weight: 700;
    writing-mode: horizontal-tb;
    transform: rotate(360deg);
    line-height: 3vh;
    margin: 0;
    margin-right: 5%;
    border-color: #ffcc29;
  }

  .rotulos li:nth-child(1) {
    margin-top: 50%;
  }
  .rotulos ul li {
    justify-content: right;
    align-items: center;
  }
  .rotulos li {
    justify-content: right;
    text-indent: 0%;
  }

  .rotulos.active {
    right: 0;
    transition: 0.5s;
  }
  .linguas {
    display: flex;
    gap: 2vh;
    align-items: center;
    margin: 0;
    padding-top: 3%;
    padding-left: 3%;
    justify-content: left;
  }
  .linguas ul {
    z-index: 1;
    font-weight: 600;
    font-size: 0.7em;
    line-height: 4vh;
  }

  .linguas li .eng {
    font-size: larger;
    border-top: none;
    border-right: 0.3vh solid #112e59;
    padding: 0;
    padding-right: 20%;
  }
  .linguas li .fra {
    font-size: larger;
    border-bottom: none;
  }

  .nav-bar .socials {
    display: none;
  }
  .hamburger {
    display: block;
    float: right;
    clear: right;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-right: 5%;
    padding-top: 1vh;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1.55vh) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-1.2vh) rotate(-45deg);
  }

  .bar {
    display: block;
    width: 4vh;
    height: 0.7vh;
    margin: 0.7vh auto;
    border-radius: 2vh;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #112e59;
    border-color: none;
  }

  /*INÍCIO*/
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    transform: rotate(0deg) translateY(0vh);
    transform-origin: top left;
  }
  .inicio {
    margin-bottom: -5%;
    align-content: center;
  }
  .nome {
    font-family: Brown-sugar;
    font-weight: 100;
    font-size: 5vh;
    margin: 0;
    text-align: center;
  }
  .nome:nth-child(1) {
    display: table;
    position: relative;
    font-size: 8vh;
    display: grid;
    text-align: right;
    margin: 0;
    margin-right: 5vh;
  }
  .nome:nth-child(3) {
    font-size: 5vh;
    width: 100%;
    height: 25vh;
    position: absolute;
    bottom: -2vh;
    margin: 0;
    display: table;
    text-align: center;
    padding-top: 4vh;
  }
  img.arara {
    left: 22%;
    position: absolute;
    display: flex;
    width: 65%;
    bottom: 50%;
  }
  .deslise {
    display: none;
  }
  .divisor {
    display: none;
  }
}

/*TABLETS*/
@media (min-width: 451px) and (max-width: 850px) {
  .outer-wrapper {
    width: 100vw;
    height: 100vh;
    transform: rotate(0deg) translateX(0vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    transform: rotate(0deg) translateY(0vh);
    transform-origin: top left;
  }

  .divisor {
    display: none;
  }
  .nav-bar {
    position: fixed;
    width: 100%;
    height: 4%;
  }
  .rotulos {
    padding: 1.4%;
    text-align: right;
    height: 5%;
    align-content: center;
  }
  .rotulos a {
    display: grid;
    margin: 0;
    display: inline;
    writing-mode: horizontal-tb;
    transform: rotate(-90deg);
  }
  .rotulos li {
    display: inline;
    padding: 0.5rem;
  }

  .linguas {
    display: flex;
    gap: 2vh;
    margin: -1.9%;
    padding-left: 3%;
    justify-content: left;
  }
  .linguas ul {
    z-index: 2;
    font-weight: 600;
    font-size: 0.7em;
  }

  .linguas li .eng {
    font-size: larger;
    border-top: none;
    border-right: 0.3vh solid #112e59;
    padding: 0;
    padding-right: 20%;
  }
  .linguas li .fra {
    font-size: larger;
    border-bottom: none;
  }

  .nav-bar .socials {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .bar {
    display: none;
  }
  .inicio {
    margin-top: 40%;
  }
  .nome {
    z-index: 100;
    font-family: Brown-sugar;
    font-weight: 100;
    font-size: 8.5vw;
    text-align: right;
    align-items: center;
    margin: 0;
    margin-right: 3%;
    color: #ffcc29;
  }

  .nome:nth-child(3) {
    width: 100%;
    font-size: 8vw;
    position: absolute;
    display: table;
    padding-top: 7%;
    padding-left: 15%;
    padding-right: 3%;
    top: 73%;
    margin: 0;
    text-align: right;
    height: 27vh;
  }
  .nome:nth-child(1) {
    font-size: 10vh;
    display: grid;
    text-align: right;
    margin: 0;
    margin-right: 3%;
  }
  img.arara {
    left: 27%;
    position: absolute;
    display: flex;
    width: 60%;
    bottom: 40vh;
  }
  .deslise {
    display: none;
  }
}
